In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
# import sklearn

# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler
# from sklearn.linear_model import LinearRegression
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# import tensorflow as tf
# from tensorflow import keras

# import statsmodels.api as sm

# import warnings
# warnings.filterwarnings("ignore")

pd.set_option('display.max_columns', None)

In [2]:
conn = sqlite3.connect('NBA-Boxscore-Database.sqlite')
cur = conn.cursor()

In [3]:
cur = conn.cursor()

In [4]:
query = 'SELECT * from game_info WHERE (away_team="ORL" OR home_team="ORL") LIMIT 10'

In [5]:
game_info_df = pd.read_sql(query, con=conn)
game_info_df

,game_id,season,date,away_team,away_score,home_team,home_score,result
0,131410290001,1314,2013-10-29,ORL,87,IND,97,1
1,131410300010,1314,2013-10-30,ORL,115,MIN,120,1
2,131411010021,1314,2013-11-01,NOP,90,ORL,110,1
3,131411030043,1314,2013-11-03,BRK,86,ORL,107,1
4,131411060062,1314,2013-11-06,LAC,90,ORL,98,1
5,131411080075,1314,2013-11-08,BOS,91,ORL,89,0
6,131411090086,1314,2013-11-09,ORL,94,ATL,104,1
7,131411110101,1314,2013-11-11,ORL,105,BOS,120,1
8,131411130111,1314,2013-11-13,MIL,91,ORL,94,1
9,131411160137,1314,2013-11-16,DAL,108,ORL,100,0

In [54]:
query = 'SELECT * from player_stats'
player_stats_df = pd.read_sql(query, con=conn)
player_stats_df

,game_id,player,team,MP,FG,FGA,FGp,3P,3PA,3Pp,FT,FTA,FTp,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PM,TSp,eFGp,3PAr,FTr,ORBp,DRBp,TRBp,ASTp,STLp,BLKp,TOVp,USGp,ORtg,DRtg,BPM,PIE
0,131410290001,Arron Afflalo,ORL,32:59,3.0,14.0,0.214,1.0,5.0,0.200,2.0,3.0,0.667,1.0,2.0,3.0,1.0,0.0,0.0,1.0,1.0,9.0,-14.0,0.294,0.250,0.357,0.214,3.1,8.1,5.3,4.6,0.0,0.0,6.1,20.8,69.0,111.0,-9.9,-1.1
1,131410290001,Nikola Vučević,ORL,30:39,4.0,11.0,0.364,0.0,0.0,NaN,0.0,0.0,NaN,5.0,5.0,10.0,3.0,2.0,1.0,5.0,4.0,8.0,-22.0,0.364,0.364,0.000,0.000,16.7,21.8,18.9,15.8,3.3,2.9,31.3,21.9,70.0,98.0,-5.4,3.8
2,131410290001,Jameer Nelson,ORL,30:34,4.0,13.0,0.308,3.0,7.0,0.429,1.0,1.0,1.000,1.0,4.0,5.0,7.0,2.0,0.0,2.0,1.0,12.0,-11.0,0.446,0.423,0.538,0.077,3.3,17.4,9.5,37.0,3.3,0.0,13.0,21.2,102.0,101.0,5.9,10.3
3,131410290001,Jason Maxiell,ORL,26:19,0.0,5.0,0.000,0.0,0.0,NaN,0.0,0.0,NaN,1.0,4.0,5.0,0.0,1.0,2.0,2.0,2.0,0.0,-15.0,0.000,0.000,0.000,0.000,3.9,20.3,11.0,0.0,1.9,6.8,28.6,11.2,8.0,99.0,-10.6,-1.9
4,131410290001,Maurice Harkless,ORL,23:30,6.0,13.0,0.462,2.0,2.0,1.000,0.0,1.0,0.000,1.0,0.0,1.0,0.0,1.0,0.0,0.0,4.0,14.0,-3.0,0.521,0.538,0.154,0.077,4.3,0.0,2.5,0.0,2.2,0.0,0.0,24.0,111.0,107.0,2.4,2.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
305727,222304091230,John Butler,POR,22:01,1.0,5.0,0.200,1.0,3.0,0.333,0.0,0.0,NaN,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,3.0,-37.0,0.300,0.300,0.600,0.000,0.0,6.6,2.5,0.0,0.0,0.0,0.0,9.1,58.0,149.0,-14.6,-0.7
305728,222304091230,Chance Comanche,POR,20:47,3.0,5.0,0.600,0.0,0.0,NaN,1.0,4.0,0.250,2.0,1.0,3.0,0.0,0.0,1.0,0.0,0.0,7.0,-29.0,0.518,0.600,0.000,0.800,8.4,7.0,7.9,0.0,0.0,4.9,0.0,13.1,110.0,146.0,-7.6,1.7
305729,222304091230,Jabari Walker,POR,20:44,4.0,6.0,0.667,0.0,2.0,0.000,1.0,2.0,0.500,0.0,3.0,3.0,0.0,0.0,0.0,2.0,0.0,9.0,-29.0,0.654,0.667,0.333,0.333,0.0,21.0,7.9,0.0,0.0,0.0,22.5,17.2,89.0,147.0,-9.8,2.6
305730,222304091230,Drew Eubanks,POR,Did Not Dress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
305731,222304091230,Cam Reddish,POR,Did Not Dress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
player_stats_df[player_stats_df['player'] == 'Stephen Curry'].tail(11)

,game_id,player,team,MP,FG,FGA,FGp,3P,3PA,3Pp,FT,FTA,FTp,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PM,TSp,eFGp,3PAr,FTr,ORBp,DRBp,TRBp,ASTp,STLp,BLKp,TOVp,USGp,ORtg,DRtg,BPM,PIE
301311,222303181060,Stephen Curry,GSW,30:03,5.0,15.0,0.333,3.0,8.0,0.375,3.0,4.0,0.750,1.0,7.0,8.0,5.0,0.0,0.0,1.0,1.0,16.0,-10.0,0.477,0.433,0.533,0.267,3.7,29.4,15.8,25.8,0.0,0.0,5.6,23.8,116.0,139.0,-0.9,6.9
301672,222303201074,Stephen Curry,GSW,36:06,10.0,23.0,0.435,5.0,15.0,0.333,5.0,5.0,1.000,1.0,6.0,7.0,5.0,2.0,1.0,4.0,3.0,30.0,5.0,0.595,0.543,0.652,0.217,3.0,17.7,10.5,21.7,2.7,2.3,13.7,34.0,118.0,107.0,2.2,11.4
301934,222303221084,Stephen Curry,GSW,34:42,9.0,18.0,0.500,2.0,8.0,0.250,0.0,0.0,NaN,1.0,4.0,5.0,13.0,0.0,0.0,3.0,2.0,20.0,10.0,0.556,0.556,0.444,0.000,4.1,13.5,9.2,47.9,0.0,0.0,14.3,26.2,126.0,132.0,1.9,9.8
302433,222303241103,Stephen Curry,GSW,38:26,10.0,18.0,0.556,2.0,7.0,0.286,7.0,8.0,0.875,0.0,8.0,8.0,3.0,0.0,0.0,2.0,2.0,29.0,20.0,0.674,0.611,0.389,0.444,0.0,23.2,11.5,12.7,0.0,0.0,8.5,26.8,129.0,116.0,3.3,12.6
302903,222303261121,Stephen Curry,GSW,36:12,8.0,23.0,0.348,4.0,13.0,0.308,0.0,0.0,NaN,0.0,6.0,6.0,9.0,1.0,0.0,3.0,3.0,20.0,2.0,0.435,0.435,0.565,0.000,0.0,19.9,9.3,51.0,1.4,0.0,11.5,32.7,90.0,103.0,1.9,9.2
303262,222303281135,Stephen Curry,GSW,36:57,14.0,25.0,0.560,8.0,15.0,0.533,3.0,4.0,0.750,2.0,6.0,8.0,8.0,3.0,0.0,4.0,0.0,39.0,12.0,0.729,0.720,0.600,0.160,6.3,19.0,12.7,41.9,4.0,0.0,13.0,36.4,133.0,107.0,17.7,18.8
303860,222303311158,Stephen Curry,GSW,32:43,11.0,21.0,0.524,7.0,11.0,0.636,4.0,4.0,1.000,1.0,1.0,2.0,5.0,0.0,0.0,1.0,1.0,33.0,-3.0,0.725,0.690,0.524,0.190,3.2,3.3,3.2,23.8,0.0,0.0,4.2,30.0,147.0,125.0,10.1,12.0
304302,222304021175,Stephen Curry,GSW,36:53,8.0,28.0,0.286,2.0,14.0,0.143,3.0,3.0,1.000,1.0,2.0,3.0,4.0,0.0,2.0,3.0,1.0,21.0,-5.0,0.358,0.321,0.500,0.107,2.5,5.0,3.8,16.5,0.0,3.9,9.3,33.0,88.0,120.0,-5.9,2.3
304636,222304041187,Stephen Curry,GSW,36:46,11.0,25.0,0.440,6.0,13.0,0.462,6.0,6.0,1.000,0.0,5.0,5.0,6.0,1.0,0.0,0.0,3.0,34.0,14.0,0.615,0.560,0.520,0.240,0.0,13.6,7.1,24.0,1.3,0.0,0.0,29.8,157.0,125.0,8.1,13.3
305235,222304071211,Stephen Curry,GSW,32:41,8.0,14.0,0.571,3.0,7.0,0.429,6.0,7.0,0.857,1.0,6.0,7.0,6.0,2.0,1.0,5.0,1.0,25.0,33.0,0.732,0.679,0.500,0.500,4.6,16.0,11.8,30.1,3.0,2.5,22.6,28.8,122.0,95.0,8.6,14.4
305708,222304091230,Stephen Curry,GSW,22:27,9.0,15.0,0.600,5.0,10.0,0.500,3.0,3.0,1.000,0.0,5.0,5.0,7.0,0.0,0.0,1.0,0.0,26.0,26.0,0.797,0.767,0.667,0.200,0.0,19.4,12.1,38.6,0.0,0.0,5.8,31.4,162.0,99.0,12.3,11.4

In [65]:
query = '''select * from (
select ROW_NUMBER() OVER (PARTITION BY d.player  order by d.date desc)rowed, d.*  
    from (
        select game_id, player from player_stats ps where ps.game_id='222304091230') gpler 
        inner join (
            select b.date,  a.* from player_stats a inner join game_info b on a.game_id = b.game_id  
            )d on   gpler.player=d.player
)k
where (k.rowed BETWEEN 2 and 11);'''

ss = pd.read_sql(query, con=conn)

In [82]:
query = '''select *
from ( select ROW_NUMBER() OVER (PARTITION BY d.player order by d.date desc) r, d.*  
    from ( select game_id, player from player_stats ps where ps.game_id='222304091230') gs
    inner join ( select b.date,  a.* from player_stats a inner join game_info b on a.game_id = b.game_id ) d on gs.player=d.player
) k
where (k.r BETWEEN 2 and 11);'''

ss = pd.read_sql(query, con=conn)

In [83]:
ss

,r,date,game_id,player,team,MP,FG,FGA,FGp,3P,3PA,3Pp,FT,FTA,FTp,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PM,TSp,eFGp,3PAr,FTr,ORBp,DRBp,TRBp,ASTp,STLp,BLKp,TOVp,USGp,ORtg,DRtg,BPM,PIE
0,2,2023-04-07,222304071211,Anthony Lamb,GSW,4:22,1.0,1.0,1.000,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,-2.0,1.000,1.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,50.0,19.5,64.0,110.0,-12.6,0.0
1,3,2023-04-04,222304041187,Anthony Lamb,GSW,12:02,2.0,5.0,0.400,0.0,1.0,0.000,0.0,0.0,NaN,1.0,2.0,3.0,0.0,0.0,0.0,0.0,2.0,4.0,-11.0,0.400,0.400,0.200,0.000,9.1,16.6,13.0,0.0,0.0,0.0,0.0,16.5,110.0,127.0,-12.9,0.7
2,4,2023-04-02,222304021175,Anthony Lamb,GSW,15:10,2.0,4.0,0.500,0.0,2.0,0.000,4.0,4.0,1.0,3.0,5.0,8.0,0.0,1.0,1.0,2.0,1.0,8.0,-2.0,0.694,0.500,0.500,1.000,18.3,30.4,24.3,0.0,3.2,4.7,25.8,19.3,120.0,101.0,5.3,5.6
3,5,2023-03-31,222303311158,Anthony Lamb,GSW,22:47,1.0,5.0,0.200,0.0,2.0,0.000,0.0,0.0,NaN,2.0,4.0,6.0,1.0,0.0,1.0,0.0,1.0,2.0,17.0,0.200,0.200,0.400,0.000,9.2,18.7,13.9,4.7,0.0,4.0,0.0,9.1,88.0,117.0,-10.2,1.5
4,6,2023-03-28,222303281135,Anthony Lamb,GSW,17:28,1.0,2.0,0.500,1.0,2.0,0.500,1.0,2.0,0.5,0.0,0.0,0.0,2.0,1.0,0.0,2.0,2.0,4.0,8.0,0.694,0.750,1.000,1.000,0.0,0.0,0.0,13.7,2.8,0.0,41.0,12.2,93.0,115.0,-4.1,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,7,2023-03-29,222303291145,Trendon Watford,POR,Did Not Dress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,8,2023-03-27,222303271127,Trendon Watford,POR,Did Not Dress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,9,2023-03-26,222303261120,Trendon Watford,POR,10:38,3.0,4.0,0.750,0.0,1.0,0.000,0.0,1.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,2.0,0.0,6.0,-3.0,0.676,0.750,0.250,0.250,0.0,21.5,11.4,0.0,0.0,0.0,31.1,26.0,80.0,121.0,-8.9,2.2
214,10,2023-03-24,222303241104,Trendon Watford,POR,27:51,5.0,10.0,0.500,0.0,2.0,0.000,5.0,5.0,1.0,0.0,6.0,6.0,3.0,0.0,1.0,2.0,2.0,15.0,-18.0,0.615,0.500,0.200,0.500,0.0,30.4,13.3,18.2,0.0,3.1,14.1,23.1,112.0,132.0,-3.2,7.2
215,11,2023-03-22,222303221091,Trendon Watford,POR,34:36,9.0,16.0,0.563,1.0,3.0,0.333,2.0,2.0,1.0,1.0,8.0,9.0,5.0,1.0,2.0,1.0,4.0,21.0,7.0,0.622,0.594,0.188,0.125,3.0,25.8,13.9,21.3,1.3,5.9,5.6,21.7,126.0,106.0,4.2,11.2

In [79]:
ss

,rowed,date,game_id,player,team,MP,FG,FGA,FGp,3P,3PA,3Pp,FT,FTA,FTp,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PM,TSp,eFGp,3PAr,FTr,ORBp,DRBp,TRBp,ASTp,STLp,BLKp,TOVp,USGp,ORtg,DRtg,BPM,PIE
0,2,2023-04-07,222304071211,Anthony Lamb,GSW,4:22,1.0,1.0,1.000,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,-2.0,1.000,1.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,50.0,19.5,64.0,110.0,-12.6,0.0
1,3,2023-04-04,222304041187,Anthony Lamb,GSW,12:02,2.0,5.0,0.400,0.0,1.0,0.000,0.0,0.0,NaN,1.0,2.0,3.0,0.0,0.0,0.0,0.0,2.0,4.0,-11.0,0.400,0.400,0.200,0.000,9.1,16.6,13.0,0.0,0.0,0.0,0.0,16.5,110.0,127.0,-12.9,0.7
2,4,2023-04-02,222304021175,Anthony Lamb,GSW,15:10,2.0,4.0,0.500,0.0,2.0,0.000,4.0,4.0,1.0,3.0,5.0,8.0,0.0,1.0,1.0,2.0,1.0,8.0,-2.0,0.694,0.500,0.500,1.000,18.3,30.4,24.3,0.0,3.2,4.7,25.8,19.3,120.0,101.0,5.3,5.6
3,5,2023-03-31,222303311158,Anthony Lamb,GSW,22:47,1.0,5.0,0.200,0.0,2.0,0.000,0.0,0.0,NaN,2.0,4.0,6.0,1.0,0.0,1.0,0.0,1.0,2.0,17.0,0.200,0.200,0.400,0.000,9.2,18.7,13.9,4.7,0.0,4.0,0.0,9.1,88.0,117.0,-10.2,1.5
4,6,2023-03-28,222303281135,Anthony Lamb,GSW,17:28,1.0,2.0,0.500,1.0,2.0,0.500,1.0,2.0,0.5,0.0,0.0,0.0,2.0,1.0,0.0,2.0,2.0,4.0,8.0,0.694,0.750,1.000,1.000,0.0,0.0,0.0,13.7,2.8,0.0,41.0,12.2,93.0,115.0,-4.1,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,7,2023-03-29,222303291145,Trendon Watford,POR,Did Not Dress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,8,2023-03-27,222303271127,Trendon Watford,POR,Did Not Dress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,9,2023-03-26,222303261120,Trendon Watford,POR,10:38,3.0,4.0,0.750,0.0,1.0,0.000,0.0,1.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,2.0,0.0,6.0,-3.0,0.676,0.750,0.250,0.250,0.0,21.5,11.4,0.0,0.0,0.0,31.1,26.0,80.0,121.0,-8.9,2.2
214,10,2023-03-24,222303241104,Trendon Watford,POR,27:51,5.0,10.0,0.500,0.0,2.0,0.000,5.0,5.0,1.0,0.0,6.0,6.0,3.0,0.0,1.0,2.0,2.0,15.0,-18.0,0.615,0.500,0.200,0.500,0.0,30.4,13.3,18.2,0.0,3.1,14.1,23.1,112.0,132.0,-3.2,7.2
215,11,2023-03-22,222303221091,Trendon Watford,POR,34:36,9.0,16.0,0.563,1.0,3.0,0.333,2.0,2.0,1.0,1.0,8.0,9.0,5.0,1.0,2.0,1.0,4.0,21.0,7.0,0.622,0.594,0.188,0.125,3.0,25.8,13.9,21.3,1.3,5.9,5.6,21.7,126.0,106.0,4.2,11.2

In [68]:
ss['player'].unique()

array(['Anthony Lamb', 'Cam Reddish', 'Donte DiVincenzo',
       'Draymond Green', 'Drew Eubanks', 'Gary Payton II',
       'JaMychal Green', 'Jabari Walker', 'Jeenathan Williams',
       'John Butler', 'Jonathan Kuminga', 'Jordan Poole', 'Justin Minaya',
       'Kevin Knox', 'Kevon Looney', 'Klay Thompson', 'Lester Quinones',
       'Moses Moody', 'Patrick Baldwin Jr.', 'Shaedon Sharpe',
       'Skylar Mays', 'Stephen Curry', 'Trendon Watford'], dtype=object)

In [81]:
ss[ss['player'] == 'Stephen Curry']

,rowed,date,game_id,player,team,MP,FG,FGA,FGp,3P,3PA,3Pp,FT,FTA,FTp,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PM,TSp,eFGp,3PAr,FTr,ORBp,DRBp,TRBp,ASTp,STLp,BLKp,TOVp,USGp,ORtg,DRtg,BPM,PIE
196,2,2023-04-07,222304071211,Stephen Curry,GSW,32:41,8.0,14.0,0.571,3.0,7.0,0.429,6.0,7.0,0.857,1.0,6.0,7.0,6.0,2.0,1.0,5.0,1.0,25.0,33.0,0.732,0.679,0.500,0.500,4.6,16.0,11.8,30.1,3.0,2.5,22.6,28.8,122.0,95.0,8.6,14.4
197,3,2023-04-04,222304041187,Stephen Curry,GSW,36:46,11.0,25.0,0.440,6.0,13.0,0.462,6.0,6.0,1.000,0.0,5.0,5.0,6.0,1.0,0.0,0.0,3.0,34.0,14.0,0.615,0.560,0.520,0.240,0.0,13.6,7.1,24.0,1.3,0.0,0.0,29.8,157.0,125.0,8.1,13.3
198,4,2023-04-02,222304021175,Stephen Curry,GSW,36:53,8.0,28.0,0.286,2.0,14.0,0.143,3.0,3.0,1.000,1.0,2.0,3.0,4.0,0.0,2.0,3.0,1.0,21.0,-5.0,0.358,0.321,0.500,0.107,2.5,5.0,3.8,16.5,0.0,3.9,9.3,33.0,88.0,120.0,-5.9,2.3
199,5,2023-03-31,222303311158,Stephen Curry,GSW,32:43,11.0,21.0,0.524,7.0,11.0,0.636,4.0,4.0,1.000,1.0,1.0,2.0,5.0,0.0,0.0,1.0,1.0,33.0,-3.0,0.725,0.690,0.524,0.190,3.2,3.3,3.2,23.8,0.0,0.0,4.2,30.0,147.0,125.0,10.1,12.0
200,6,2023-03-28,222303281135,Stephen Curry,GSW,36:57,14.0,25.0,0.560,8.0,15.0,0.533,3.0,4.0,0.750,2.0,6.0,8.0,8.0,3.0,0.0,4.0,0.0,39.0,12.0,0.729,0.720,0.600,0.160,6.3,19.0,12.7,41.9,4.0,0.0,13.0,36.4,133.0,107.0,17.7,18.8
201,7,2023-03-26,222303261121,Stephen Curry,GSW,36:12,8.0,23.0,0.348,4.0,13.0,0.308,0.0,0.0,NaN,0.0,6.0,6.0,9.0,1.0,0.0,3.0,3.0,20.0,2.0,0.435,0.435,0.565,0.000,0.0,19.9,9.3,51.0,1.4,0.0,11.5,32.7,90.0,103.0,1.9,9.2
202,8,2023-03-24,222303241103,Stephen Curry,GSW,38:26,10.0,18.0,0.556,2.0,7.0,0.286,7.0,8.0,0.875,0.0,8.0,8.0,3.0,0.0,0.0,2.0,2.0,29.0,20.0,0.674,0.611,0.389,0.444,0.0,23.2,11.5,12.7,0.0,0.0,8.5,26.8,129.0,116.0,3.3,12.6
203,9,2023-03-22,222303221084,Stephen Curry,GSW,34:42,9.0,18.0,0.500,2.0,8.0,0.250,0.0,0.0,NaN,1.0,4.0,5.0,13.0,0.0,0.0,3.0,2.0,20.0,10.0,0.556,0.556,0.444,0.000,4.1,13.5,9.2,47.9,0.0,0.0,14.3,26.2,126.0,132.0,1.9,9.8
204,10,2023-03-20,222303201074,Stephen Curry,GSW,36:06,10.0,23.0,0.435,5.0,15.0,0.333,5.0,5.0,1.000,1.0,6.0,7.0,5.0,2.0,1.0,4.0,3.0,30.0,5.0,0.595,0.543,0.652,0.217,3.0,17.7,10.5,21.7,2.7,2.3,13.7,34.0,118.0,107.0,2.2,11.4
205,11,2023-03-18,222303181060,Stephen Curry,GSW,30:03,5.0,15.0,0.333,3.0,8.0,0.375,3.0,4.0,0.750,1.0,7.0,8.0,5.0,0.0,0.0,1.0,1.0,16.0,-10.0,0.477,0.433,0.533,0.267,3.7,29.4,15.8,25.8,0.0,0.0,5.6,23.8,116.0,139.0,-0.9,6.9

In [78]:
player_stats_df[player_stats_df['player'] == 'Jeenathan Williams']

,game_id,player,team,MP,FG,FGA,FGp,3P,3PA,3Pp,FT,FTA,FTp,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PM,TSp,eFGp,3PAr,FTr,ORBp,DRBp,TRBp,ASTp,STLp,BLKp,TOVp,USGp,ORtg,DRtg,BPM,PIE
304069,222304021166,Jeenathan Williams,POR,13:24,3.0,6.0,0.500,1.0,1.0,1.0,0.0,0.0,NaN,4.0,1.0,5.0,0.0,0.0,0.0,1.0,3.0,7.0,5.0,0.583,0.583,0.167,0.000,28.1,9.4,20.1,0.0,0.0,0.0,14.3,22.4,115.0,114.0,-3.2,1.5
304522,222304041183,Jeenathan Williams,POR,28:55,2.0,6.0,0.333,0.0,3.0,0.0,0.0,0.0,NaN,0.0,1.0,1.0,3.0,3.0,2.0,0.0,1.0,4.0,-9.0,0.333,0.333,0.500,0.000,0.0,3.8,1.7,12.9,5.1,8.5,0.0,8.9,94.0,113.0,0.3,3.1
304937,222304061199,Jeenathan Williams,POR,31:56,8.0,10.0,0.800,0.0,1.0,0.0,0.0,0.0,NaN,2.0,2.0,4.0,4.0,0.0,0.0,1.0,6.0,16.0,-4.0,0.800,0.800,0.100,0.000,8.1,6.5,7.2,15.4,0.0,0.0,9.1,13.9,152.0,129.0,-4.3,5.8
305314,222304081214,Jeenathan Williams,POR,21:18,4.0,5.0,0.800,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,2.0,9.0,-5.0,0.827,0.900,0.200,0.200,5.0,0.0,2.7,0.0,0.0,0.0,15.5,13.3,126.0,142.0,-7.6,1.7
305723,222304091230,Jeenathan Williams,POR,31:01,7.0,12.0,0.583,1.0,2.0,0.5,2.0,2.0,1.0,3.0,1.0,4.0,3.0,0.0,0.0,1.0,1.0,17.0,-25.0,0.660,0.625,0.167,0.167,8.4,4.7,7.0,17.1,0.0,0.0,7.2,18.0,128.0,149.0,-1.8,5.7

In [27]:
ddd = dd.T.drop_duplicates().T
ddd

,rowew,player,game_id,team,MP,FG,FGA,FGp,3P,3PA,3Pp,FT,FTA,FTp,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PM,TSp,eFGp,3PAr,FTr,ORBp,DRBp,TRBp,ASTp,STLp,BLKp,TOVp,USGp,ORtg,DRtg,BPM,PIE
0,8,Jamaal Tinsley,131410300014,UTA,8:05,0.0,3.0,0.0,0.0,3.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,3.0,0.0,0.0,1.0,1.0,0.0,5.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,49.5,0.0,0.0,25.0,20.8,39.0,112.0,-17.4,-1.4
1,10,Elias Harris,131410300017,LAL,7:36,0.0,1.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,-2.0,1.0,1.0,0.0,0.0,0.0,17.1,7.3,0.0,0.0,10.7,50.0,11.1,78.0,116.0,-1.9,0.5
2,7,Jamaal Tinsley,131411010030,UTA,16:35,2.0,4.0,0.5,0.0,1.0,0.0,0.0,0.0,NaN,1.0,2.0,3.0,3.0,1.0,0.0,1.0,1.0,4.0,5.0,0.5,0.5,0.25,0.0,5.6,12.3,8.8,34.4,3.2,0.0,20.0,12.4,107.0,92.0,5.0,6.3
3,10,Kwame Brown,131411020034,PHI,Did Not Dress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,Jamaal Tinsley,131411020038,UTA,14:15,0.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,NaN,0.0,1.0,1.0,2.0,1.0,0.0,2.0,3.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,10.2,4.3,19.8,3.7,0.0,50.0,12.5,24.0,114.0,-14.7,-2.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13486,1,John Butler,222304091230,POR,22:01,1.0,5.0,0.2,1.0,3.0,0.333,0.0,0.0,NaN,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,3.0,-37.0,0.3,0.3,0.6,0.0,0.0,6.6,2.5,0.0,0.0,0.0,0.0,9.1,58.0,149.0,-14.6,-0.7
13487,1,Chance Comanche,222304091230,POR,20:47,3.0,5.0,0.6,0.0,0.0,NaN,1.0,4.0,0.25,2.0,1.0,3.0,0.0,0.0,1.0,0.0,0.0,7.0,-29.0,0.518,0.6,0.0,0.8,8.4,7.0,7.9,0.0,0.0,4.9,0.0,13.1,110.0,146.0,-7.6,1.7
13488,1,Jabari Walker,222304091230,POR,20:44,4.0,6.0,0.667,0.0,2.0,0.0,1.0,2.0,0.5,0.0,3.0,3.0,0.0,0.0,0.0,2.0,0.0,9.0,-29.0,0.654,0.667,0.333,0.333,0.0,21.0,7.9,0.0,0.0,0.0,22.5,17.2,89.0,147.0,-9.8,2.6
13489,1,Drew Eubanks,222304091230,POR,Did Not Dress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13490,1,Cam Reddish,222304091230,POR,Did Not Dress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
ddd[ddd['player'] == 'Cam Reddish']

,rowew,player,game_id,team,MP,FG,FGA,FGp,3P,3PA,3Pp,FT,FTA,FTp,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PM,TSp,eFGp,3PAr,FTr,ORBp,DRBp,TRBp,ASTp,STLp,BLKp,TOVp,USGp,ORtg,DRtg,BPM,PIE
10221,10,Cam Reddish,222303241104,POR,22:08,1.0,6.0,0.167,0.0,3.0,0.0,2.0,2.0,1.0,2.0,2.0,4.0,2.0,0.0,0.0,0.0,2.0,4.0,-6.0,0.291,0.167,0.5,0.333,9.9,12.8,11.1,12.5,0.0,0.0,0.0,14.1,90.0,138.0,-13.0,0.9
10643,9,Cam Reddish,222303261120,POR,19:05,1.0,4.0,0.25,0.0,0.0,NaN,2.0,2.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,4.0,-22.0,0.41,0.25,0.0,0.5,0.0,0.0,0.0,0.0,2.5,0.0,17.0,13.2,74.0,122.0,-9.7,0.0
10826,8,Cam Reddish,222303271127,POR,25:48,5.0,9.0,0.556,0.0,2.0,0.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,11.0,-24.0,0.583,0.556,0.222,0.111,0.0,6.0,2.3,0.0,0.0,0.0,9.6,17.9,102.0,129.0,-7.2,3.1
11290,7,Cam Reddish,222303291145,POR,Did Not Play,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11655,6,Cam Reddish,222303311159,POR,Did Not Dress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11829,5,Cam Reddish,222304021166,POR,Did Not Dress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12287,4,Cam Reddish,222304041183,POR,Did Not Dress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12704,3,Cam Reddish,222304061199,POR,Did Not Dress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13079,2,Cam Reddish,222304081214,POR,Did Not Dress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13490,1,Cam Reddish,222304091230,POR,Did Not Dress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
query = '''
SELECT *
FROM player_stats
WHERE game_id < 222304091230
  AND away_team = (SELECT away_team FROM game_info WHERE game_id = 222304091230)
ORDER BY date DESC
LIMIT 10;
'''

In [25]:
query_df = pd.read_sql(query, con=conn)

DatabaseError: Execution failed on sql '
SELECT *
FROM player_stats
WHERE game_id < 222304091230 AND away_team = (SELECT away_team FROM game_info WHERE game_id = 222304091230)
ORDER BY date DESC
LIMIT 10;
': no such column: away_team

In [30]:
query = '''
SELECT ps.*
FROM player_stats ps
JOIN game_info gi ON ps.game_id = gi.game_id
WHERE gi.away_team = (SELECT away_team FROM game_info WHERE game_id = 222304091230)
  AND gi.date < (SELECT date FROM game_info WHERE game_id = 222304091230)
ORDER BY gi.date DESC
LIMIT 10;
'''

In [31]:
query_df = pd.read_sql(query, con=conn)

In [32]:
query_df

,game_id,player,team,MP,FG,FGA,FGp,3P,3PA,3Pp,FT,FTA,FTp,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PM,TSp,eFGp,3PAr,FTr,ORBp,DRBp,TRBp,ASTp,STLp,BLKp,TOVp,USGp,ORtg,DRtg,BPM,PIE
0,222304071211,Alex Len,SAC,16:27,2.0,3.0,0.667,0.0,0.0,NaN,1.0,2.0,0.500,5.0,1.0,6.0,2.0,0.0,1.0,2.0,2.0,5.0,-20.0,0.644,0.667,0.000,0.667,26.5,9.1,20.1,18.1,0.0,6.9,34.0,14.6,112.0,125.0,-3.0,2.7
1,222304071211,Anthony Lamb,GSW,4:22,1.0,1.0,1.000,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,-2.0,1.000,1.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,50.0,19.5,64.0,110.0,-12.6,0.0
2,222304071211,Chimezie Metu,SAC,16:47,5.0,8.0,0.625,0.0,0.0,NaN,5.0,9.0,0.556,1.0,8.0,9.0,0.0,0.0,0.0,2.0,1.0,15.0,-4.0,0.627,0.625,0.000,1.125,5.2,71.5,29.6,0.0,0.0,0.0,14.3,33.9,107.0,114.0,1.1,7.2
3,222304071211,Davion Mitchell,SAC,27:41,2.0,13.0,0.154,1.0,6.0,0.167,0.0,0.0,NaN,1.0,1.0,2.0,5.0,3.0,0.0,2.0,2.0,5.0,-32.0,0.192,0.192,0.462,0.000,3.2,5.4,4.0,25.1,5.3,0.0,13.3,22.1,60.0,117.0,-10.1,-0.3
4,222304071211,Donte DiVincenzo,GSW,29:25,7.0,10.0,0.700,4.0,6.0,0.667,0.0,0.0,NaN,1.0,5.0,6.0,9.0,1.0,0.0,2.0,1.0,18.0,33.0,0.900,0.900,0.600,0.000,5.1,14.8,11.3,49.7,1.7,0.0,16.7,17.4,160.0,100.0,16.4,14.6
5,222304071211,Draymond Green,GSW,33:17,2.0,5.0,0.400,0.0,2.0,0.000,0.0,0.0,NaN,0.0,5.0,5.0,5.0,1.0,2.0,5.0,5.0,4.0,30.0,0.400,0.400,0.400,0.000,0.0,13.1,8.3,18.9,1.5,4.9,50.0,12.8,67.0,98.0,-7.1,1.6
6,222304071211,Gary Payton II,GSW,21:18,4.0,5.0,0.800,2.0,3.0,0.667,0.0,0.0,NaN,2.0,3.0,5.0,0.0,0.0,2.0,3.0,5.0,10.0,11.0,1.000,1.000,0.600,0.000,14.1,12.3,13.0,0.0,0.0,7.6,37.5,16.0,99.0,100.0,0.6,3.2
7,222304071211,Harrison Barnes,SAC,29:23,5.0,9.0,0.556,1.0,3.0,0.333,2.0,3.0,0.667,2.0,1.0,3.0,2.0,2.0,0.0,1.0,0.0,13.0,-25.0,0.630,0.611,0.333,0.333,5.9,5.1,5.6,11.0,3.3,0.0,8.8,15.7,127.0,121.0,2.5,6.9
8,222304071211,JaMychal Green,GSW,Did Not Play,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,222304071211,Jonathan Kuminga,GSW,19:09,4.0,5.0,0.800,2.0,2.0,1.000,5.0,6.0,0.833,0.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,15.0,-15.0,0.982,1.000,0.400,1.200,0.0,4.6,2.9,8.1,0.0,0.0,11.6,19.2,166.0,109.0,8.6,6.9

In [37]:
query = '''
SELECT gi.*
FROM game_info gi
WHERE gi.game_id < 222304091230
ORDER BY gi.date DESC
LIMIT 10;
'''
query_df = pd.read_sql(query, con=conn)
query_df

,game_id,season,date,away_team,away_score,home_team,home_score,result
0,222304091216,2223,2023-04-09,ATL,114,BOS,120,1
1,222304091217,2223,2023-04-09,PHI,134,BRK,105,0
2,222304091218,2223,2023-04-09,DET,81,CHI,103,1
3,222304091219,2223,2023-04-09,CHO,106,CLE,95,0
4,222304091220,2223,2023-04-09,ORL,110,MIA,123,1
5,222304091221,2223,2023-04-09,IND,141,NYK,136,0
6,222304091222,2223,2023-04-09,MIL,105,TOR,121,1
7,222304091223,2223,2023-04-09,HOU,114,WAS,109,0
8,222304091224,2223,2023-04-09,SAS,138,DAL,117,0
9,222304091225,2223,2023-04-09,SAC,95,DEN,109,1

In [39]:
query = '''
SELECT gi.game_id
FROM game_info gi
WHERE gi.away_team = (SELECT away_team FROM game_info WHERE game_id = 222304091230)
  AND gi.game_id < 222304091230
ORDER BY gi.date DESC
LIMIT 10;
'''
query_df = pd.read_sql(query, con=conn)
query_df

        game_id
0  222304071211
1  222304021175
2  222303221084
3  222303201074
4  222303181060
5  222303171048
6  222303151041
7  222303090995
8  222303070982
9  222303050963

In [54]:
away_gi_query = '''
SELECT gi.*
FROM game_info gi
WHERE (gi.away_team = (SELECT away_team FROM game_info WHERE game_id = 222304091230)
        AND gi.game_id < 222304091230)
   OR (gi.home_team = (SELECT away_team FROM game_info WHERE game_id = 222304091230)
        AND gi.game_id < 222304091230)
ORDER BY gi.date DESC
LIMIT 10;
'''
away_gi_query_df = pd.read_sql(away_gi_query, con=conn)
away_gi_query_df

,game_id,season,date,away_team,away_score,home_team,home_score,result
0,222304071211,2223,2023-04-07,GSW,119,SAC,97,0
1,222304041187,2223,2023-04-04,OKC,125,GSW,136,1
2,222304021175,2223,2023-04-02,GSW,110,DEN,112,1
3,222303311158,2223,2023-03-31,SAS,115,GSW,130,1
4,222303281135,2223,2023-03-28,NOP,109,GSW,120,1
5,222303261121,2223,2023-03-26,MIN,99,GSW,96,0
6,222303241103,2223,2023-03-24,PHI,112,GSW,120,1
7,222303221084,2223,2023-03-22,GSW,127,DAL,125,0
8,222303201074,2223,2023-03-20,GSW,121,HOU,108,0
9,222303181060,2223,2023-03-18,GSW,119,MEM,133,1

In [46]:
query = '''
SELECT ps.*
FROM player_stats ps
JOIN game_info gi ON ps.game_id = gi.game_id
WHERE (gi.away_team = (SELECT away_team FROM game_info WHERE game_id = 222304091230)
  AND gi.date < (SELECT date FROM game_info WHERE game_id = 222304091230))
  OR (gi.home_team = (SELECT away_team FROM game_info WHERE game_id = 222304091230)
  AND gi.date < (SELECT date FROM game_info WHERE game_id = 222304091230))
ORDER BY gi.date DESC;
'''
query_df = pd.read_sql(query, con=conn)
query_df

,game_id,player,team,MP,FG,FGA,FGp,3P,3PA,3Pp,FT,FTA,FTp,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PM,TSp,eFGp,3PAr,FTr,ORBp,DRBp,TRBp,ASTp,STLp,BLKp,TOVp,USGp,ORtg,DRtg,BPM,PIE
0,222304071211,Alex Len,SAC,16:27,2.0,3.0,0.667,0.0,0.0,NaN,1.0,2.0,0.500,5.0,1.0,6.0,2.0,0.0,1.0,2.0,2.0,5.0,-20.0,0.644,0.667,0.000,0.667,26.5,9.1,20.1,18.1,0.0,6.9,34.0,14.6,112.0,125.0,-3.0,2.7
1,222304071211,Anthony Lamb,GSW,4:22,1.0,1.0,1.000,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,2.0,-2.0,1.000,1.000,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,50.0,19.5,64.0,110.0,-12.6,0.0
2,222304071211,Chimezie Metu,SAC,16:47,5.0,8.0,0.625,0.0,0.0,NaN,5.0,9.0,0.556,1.0,8.0,9.0,0.0,0.0,0.0,2.0,1.0,15.0,-4.0,0.627,0.625,0.000,1.125,5.2,71.5,29.6,0.0,0.0,0.0,14.3,33.9,107.0,114.0,1.1,7.2
3,222304071211,Davion Mitchell,SAC,27:41,2.0,13.0,0.154,1.0,6.0,0.167,0.0,0.0,NaN,1.0,1.0,2.0,5.0,3.0,0.0,2.0,2.0,5.0,-32.0,0.192,0.192,0.462,0.000,3.2,5.4,4.0,25.1,5.3,0.0,13.3,22.1,60.0,117.0,-10.1,-0.3
4,222304071211,Donte DiVincenzo,GSW,29:25,7.0,10.0,0.700,4.0,6.0,0.667,0.0,0.0,NaN,1.0,5.0,6.0,9.0,1.0,0.0,2.0,1.0,18.0,33.0,0.900,0.900,0.600,0.000,5.1,14.8,11.3,49.7,1.7,0.0,16.7,17.4,160.0,100.0,16.4,14.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19941,131410300017,Steve Blake,LAL,31:40,4.0,13.0,0.308,2.0,3.0,0.667,0.0,0.0,NaN,0.0,3.0,3.0,4.0,2.0,0.0,2.0,1.0,10.0,-14.0,0.385,0.385,0.231,0.000,0.0,12.3,5.2,21.0,3.0,0.0,13.3,19.9,77.0,119.0,-4.5,3.7
19942,131410300017,Steve Nash,LAL,Did Not Play,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19943,131410300017,Toney Douglas,GSW,24:29,5.0,8.0,0.625,3.0,6.0,0.500,0.0,0.0,NaN,1.0,3.0,4.0,4.0,0.0,0.0,2.0,1.0,13.0,3.0,0.813,0.813,0.750,0.000,5.3,11.8,9.0,21.7,0.0,0.0,20.0,17.6,132.0,99.0,4.7,7.6
19944,131410300017,Wesley Johnson,LAL,24:57,4.0,11.0,0.364,3.0,6.0,0.500,0.0,0.0,NaN,0.0,3.0,3.0,3.0,2.0,2.0,1.0,5.0,11.0,-7.0,0.500,0.500,0.545,0.000,0.0,15.6,6.6,21.1,3.8,6.5,8.3,20.2,98.0,111.0,5.7,3.7
19945,131410300017,Xavier Henry,LAL,35:31,4.0,11.0,0.364,0.0,1.0,0.000,6.0,9.0,0.667,0.0,4.0,4.0,1.0,0.0,0.0,4.0,5.0,14.0,-20.0,0.468,0.364,0.091,0.818,0.0,14.6,6.2,4.6,0.0,0.0,21.1,22.4,77.0,126.0,-12.2,0.0

In [56]:
players_query = '''
SELECT player
FROM player_stats
WHERE game_id = 222304091230;
'''
players_query_df = pd.read_sql(players_query, con=conn)
players_query_df

                 player
0         Stephen Curry
1         Klay Thompson
2      Donte DiVincenzo
3          Kevon Looney
4        Draymond Green
5           Moses Moody
6      Jonathan Kuminga
7        Gary Payton II
8          Jordan Poole
9        JaMychal Green
10      Lester Quinones
11         Anthony Lamb
12  Patrick Baldwin Jr.
13          Skylar Mays
14           Kevin Knox
15   Jeenathan Williams
16       Shaedon Sharpe
17      Trendon Watford
18        Justin Minaya
19          John Butler
20      Chance Comanche
21        Jabari Walker
22         Drew Eubanks
23          Cam Reddish

In [70]:
qu = '''SELECT * FROM game_info
WHERE game_id = 222304091230;'''

In [75]:
query = f'''
SELECT *
FROM player_stats
JOIN ({players_query}) on player_stats.player = {players_query}.player)
  AND game_id = 222304091230;
'''
query_df = pd.read_sql(query, con=conn)
query_df

DatabaseError: Execution failed on sql '
SELECT *
FROM player_stats
JOIN (
SELECT player
FROM player_stats
WHERE game_id = 222304091230;
) on player_stats.player =
SELECT player
FROM player_stats
WHERE game_id = 222304091230;
.player)
  AND game_id = 222304091230;
': near ";": syntax error

In [71]:
query = f'''
{qu}
'''
query_df = pd.read_sql(query, con=conn)
query_df

,game_id,season,date,away_team,away_score,home_team,home_score,result
0,222304091230,2223,2023-04-09,GSW,157,POR,101,0