In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
# import sklearn

# from sklearn.model_selection import train_test_split
# from sklearn.preprocessing import StandardScaler
# from sklearn.linear_model import LinearRegression
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# import tensorflow as tf
# from tensorflow import keras

# import statsmodels.api as sm

# import warnings
# warnings.filterwarnings("ignore")

pd.set_option('display.max_columns', None)

In [2]:
conn = sqlite3.connect('NBA-Boxscore-Database.sqlite')

In [5]:
query = 'SELECT * from game_info'
game_info = pd.read_sql(query, con=conn)
game_info

,game_id,season,date,away_team,away_score,home_team,home_score,result
0,131410290001,1314,2013-10-29,ORL,87,IND,97,1
1,131410290002,1314,2013-10-29,CHI,95,MIA,107,1
2,131410290003,1314,2013-10-29,LAC,103,LAL,116,1
3,131410300004,1314,2013-10-30,BRK,94,CLE,98,1
4,131410300005,1314,2013-10-30,BOS,87,TOR,93,1
...,...,...,...,...,...,...,...,...
11974,222304091226,2223,2023-04-09,UTA,117,LAL,128,1
11975,222304091227,2223,2023-04-09,NOP,108,MIN,113,1
11976,222304091228,2223,2023-04-09,MEM,100,OKC,115,1
11977,222304091229,2223,2023-04-09,LAC,119,PHO,114,0
11978,222304091230,2223,2023-04-09,GSW,157,POR,101,0

In [6]:
query = 'SELECT * from team_stats'
team_stats = pd.read_sql(query, con=conn)
team_stats

,game_id,team,MP,FG,FGA,FGp,3P,3PA,3Pp,FT,FTA,FTp,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,PM,TSp,eFGp,3PAr,FTr,ORBp,DRBp,TRBp,ASTp,STLp,BLKp,TOVp,USGp,ORtg,DRtg,BPM
0,131410290001,ORL,240,36.0,93.0,0.387,9.0,19.0,0.474,6.0,10.0,0.600,13.0,26.0,39.0,17.0,10.0,6.0,17.0,26.0,87.0,None,0.447,0.435,0.204,0.108,27.7,72.2,47.0,47.2,10.5,11.1,14.9,100.0,91.6,102.1,None
1,131410290001,IND,240,34.0,71.0,0.479,7.0,17.0,0.412,22.0,32.0,0.688,10.0,34.0,44.0,17.0,4.0,18.0,20.0,13.0,97.0,None,0.570,0.528,0.239,0.451,27.8,72.3,53.0,50.0,4.2,24.3,19.0,100.0,102.1,91.6,None
2,131410290002,CHI,240,35.0,83.0,0.422,7.0,26.0,0.269,18.0,23.0,0.783,11.0,30.0,41.0,23.0,11.0,4.0,18.0,27.0,95.0,None,0.510,0.464,0.313,0.277,23.9,85.7,50.6,65.7,11.3,7.7,16.2,100.0,97.9,110.2,None
3,131410290002,MIA,240,37.0,72.0,0.514,11.0,20.0,0.550,22.0,29.0,0.759,5.0,35.0,40.0,26.0,10.0,7.0,18.0,21.0,107.0,None,0.631,0.590,0.278,0.403,14.3,76.1,49.4,70.3,10.3,12.3,17.5,100.0,110.2,97.9,None
4,131410290003,LAC,240,41.0,83.0,0.494,8.0,21.0,0.381,13.0,23.0,0.565,10.0,30.0,40.0,27.0,11.0,4.0,16.0,21.0,103.0,None,0.553,0.542,0.253,0.277,22.7,62.5,43.5,65.9,11.0,6.3,14.7,100.0,102.6,115.6,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23953,222304091228,OKC,240,45.0,90.0,0.500,12.0,36.0,0.333,13.0,16.0,0.813,8.0,41.0,49.0,30.0,5.0,2.0,14.0,17.0,115.0,None,0.593,0.567,0.400,0.178,20.0,78.8,53.3,66.7,5.0,3.6,12.6,100.0,114.9,99.9,None
23954,222304091229,LAC,240,49.0,100.0,0.490,5.0,23.0,0.217,16.0,24.0,0.667,14.0,39.0,53.0,22.0,3.0,5.0,10.0,18.0,119.0,None,0.538,0.515,0.230,0.240,28.6,76.5,53.0,44.9,2.9,8.1,8.3,100.0,116.4,111.5,None
23955,222304091229,PHO,240,42.0,99.0,0.424,14.0,37.0,0.378,16.0,22.0,0.727,12.0,35.0,47.0,29.0,4.0,3.0,7.0,21.0,114.0,None,0.524,0.495,0.374,0.222,23.5,71.4,47.0,69.0,3.9,3.9,6.1,100.0,111.5,116.4,None
23956,222304091230,GSW,240,58.0,96.0,0.604,27.0,49.0,0.551,14.0,16.0,0.875,9.0,49.0,58.0,47.0,13.0,6.0,15.0,18.0,157.0,None,0.762,0.745,0.510,0.167,27.3,89.1,65.9,81.0,11.9,10.0,12.7,100.0,143.9,92.6,None
23957,222304091230,POR,240,38.0,95.0,0.400,9.0,35.0,0.257,16.0,24.0,0.667,6.0,24.0,30.0,25.0,5.0,3.0,14.0,9.0,101.0,None,0.478,0.447,0.368,0.253,10.9,72.7,34.1,65.8,4.6,6.4,11.7,100.0,92.6,143.9,None

In [8]:
gid = 222304091230
away_team = 'GSW'
date = '2023-04-09'

In [11]:
away_gi_query = f'''
SELECT gi.*
FROM game_info gi
WHERE (gi.away_team = (SELECT away_team FROM game_info WHERE game_id = 222304091230)
        AND gi.date < '{date}')
   OR (gi.home_team = (SELECT away_team FROM game_info WHERE game_id = 222304091230)
        AND gi.date < '{date}')
ORDER BY gi.date DESC
LIMIT 10;
'''
away_gi_query_df = pd.read_sql(away_gi_query, con=conn)
away_gi_query_df

,game_id,season,date,away_team,away_score,home_team,home_score,result
0,222304071211,2223,2023-04-07,GSW,119,SAC,97,0
1,222304041187,2223,2023-04-04,OKC,125,GSW,136,1
2,222304021175,2223,2023-04-02,GSW,110,DEN,112,1
3,222303311158,2223,2023-03-31,SAS,115,GSW,130,1
4,222303281135,2223,2023-03-28,NOP,109,GSW,120,1
5,222303261121,2223,2023-03-26,MIN,99,GSW,96,0
6,222303241103,2223,2023-03-24,PHI,112,GSW,120,1
7,222303221084,2223,2023-03-22,GSW,127,DAL,125,0
8,222303201074,2223,2023-03-20,GSW,121,HOU,108,0
9,222303181060,2223,2023-03-18,GSW,119,MEM,133,1

In [12]:
away_gid_query = f'''
SELECT gi.game_id
FROM game_info gi
WHERE (gi.away_team = (SELECT away_team FROM game_info WHERE game_id = 222304091230)
        AND gi.date < '{date}')
   OR (gi.home_team = (SELECT away_team FROM game_info WHERE game_id = 222304091230)
        AND gi.date < '{date}')
ORDER BY gi.date DESC
LIMIT 10;
'''
away_gid_query_df = pd.read_sql(away_gid_query, con=conn)
away_gid_query_df


# F4_query = '''
# SELECT game_id, FGA, FTA, FG, '3P', TOV
# FROM team_stats
# '''

# away_F4_query = f'''
# SELECT *
# FROM {away_gid_query}
# JOIN {F4_query} 
#   ON {away_gid_query}.game_id = {F4_query}.game_id

# away_F4_query = f'''
# {away_gid_query}
# '''
# qu_test_df = pd.read_sql(away_F4_query, con=conn)
# qu_test_df

# att_qu = '''
# SELECT gi.game_id
# FROM game_info gi
# JOIN team_stats ON gi.game_id = team_stats.game_id
# WHERE (gi.away_team = (SELECT away_team FROM game_info WHERE game_id = 222304091230)
#         AND gi.game_id < 222304091230)
#    OR (gi.home_team = (SELECT away_team FROM game_info WHERE game_id = 222304091230)
#         AND gi.game_id < 222304091230)
# ORDER BY gi.date DESC
# LIMIT 10;
# '''
# att_qu_df = pd.read_sql(att_qu, con=conn)
# att_qu_df

        game_id
0  222304071211
1  222304041187
2  222304021175
3  222303311158
4  222303281135
5  222303261121
6  222303241103
7  222303221084
8  222303201074
9  222303181060

In [40]:
team_stats[['team', 'FGA', 'FT', 'FG', '3P', 'ORBp', 'TOVp']]

      team    FGA    FT    FG    3P  ORBp  TOVp
0      ORL   93.0   6.0  36.0   9.0  27.7  14.9
1      IND   71.0  22.0  34.0   7.0  27.8  19.0
2      CHI   83.0  18.0  35.0   7.0  23.9  16.2
3      MIA   72.0  22.0  37.0  11.0  14.3  17.5
4      LAC   83.0  13.0  41.0   8.0  22.7  14.7
...    ...    ...   ...   ...   ...   ...   ...
23953  OKC   90.0  13.0  45.0  12.0  20.0  12.6
23954  LAC  100.0  16.0  49.0   5.0  28.6   8.3
23955  PHO   99.0  16.0  42.0  14.0  23.5   6.1
23956  GSW   96.0  14.0  58.0  27.0  27.3  12.7
23957  POR   95.0  16.0  38.0   9.0  10.9  11.7

[23958 rows x 7 columns]

In [45]:
# away_F4_df = pd.concat(objs=[away_gid_query_df, team_stats['FGA', 'FTA', 'FG', '3P', 'TOV']], join='inner', axis=1)
# away_F4_df
away_4F_df = away_gid_query_df.merge(team_stats[['game_id', 'team', 'FG', 'FGA', 'FT', '3P', 'ORBp', 'TOVp', 'eFGp']])
away_4F_df = away_4F_df[away_4F_df['team'] == away_team].reset_index(drop=True)
away_4F_df

        game_id team    FG    FGA    FT    3P  ORBp  TOVp   eFGp
0  222304071211  GSW  41.0   78.0  21.0  16.0  31.3  21.3  0.628
1  222304041187  GSW  47.0   95.0  22.0  20.0  43.2  10.7  0.600
2  222304021175  GSW  42.0  105.0  17.0   9.0  42.3  11.8  0.443
3  222303311158  GSW  47.0   93.0  15.0  21.0  30.4  12.0  0.618
4  222303281135  GSW  43.0   82.0  16.0  18.0  26.8  16.4  0.634
5  222303261121  GSW  34.0   82.0  13.0  15.0  13.0  15.2  0.506
6  222303241103  GSW  42.0   88.0  18.0  18.0  22.7  10.0  0.580
7  222303221084  GSW  50.0   90.0  15.0  12.0  32.4  11.7  0.622
8  222303201074  GSW  44.0   88.0  16.0  17.0  36.4  15.7  0.597
9  222303181060  GSW  39.0   91.0  28.0  13.0  34.9  10.9  0.500

In [42]:
eFGp = (away_4F_df['FG'].mean() + (0.5 * away_4F_df['3P'].mean())) / away_4F_df['FGA'].mean()
eFGp

0.570067264573991

In [43]:
ORBp = away_4F_df['ORBp'].mean()
ORBp

31.339999999999993

In [44]:
FTr = away_4F_df['FT'].mean() / away_4F_df['FGA'].mean()
FTr

0.20291479820627803

In [46]:
away_4F_df['eFGp'].mean()

0.5728